:host {
  .check-address-container {
    background-color: #F2F2F2;
    padding: 20px;
    width: 100vw;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
  }
  .button-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;

    & .button-qr {
      grid-column: 1/3;
    }
  }

  .scan-screen {
    grid-column: span 2;
  }
}
