<app-maps [data]="mapsData" #maps></app-maps>
<app-check-address *ngIf="currentStep === 'question'" class="_top-left"></app-check-address>
<app-change-padick *ngIf="currentStep === 'padick'" class="_top-left"></app-change-padick>
<app-change-address *ngIf="currentStep === 'address'" class="_top-left"></app-change-address>
<app-problem *ngIf="currentStep === 'problem'" class="_center"></app-problem>
<app-survey-ask *ngIf="currentStep === 'surveyquestion'" class="_center"></app-survey-ask>
<app-survey *ngIf="currentStep === 'survey'" class="_center"></app-survey>
