:host {
  .check-address-panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .check-change-padick {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .check-change-address {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}
