<div class="check-address-container">
  <h2>Какой у Вас подъезд?</h2>
  <div class="padick-numbers">
    <button mat-flat-button	type="button" (click)="onSelected(1)" [color]="selectedItem === 1 ? 'primary' : null">1</button>
    <button mat-flat-button	type="button" (click)="onSelected(2)" [color]="selectedItem === 2 ? 'primary' : null">2</button>
    <button mat-flat-button	type="button" (click)="onSelected(3)" [color]="selectedItem === 3 ? 'primary' : null">3</button>
  </div>
  <button mat-flat-button	class="accept-padick" type="button" [color]="selectedItem ? 'primary' : null" (click)="onNext()">Далее</button>
</div>
