:host {
  .check-address-container {
    background-color: #F2F2F2;
    padding: 20px;
    width: 90vw;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .check-address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accept-address {
    width: 100%;
  }
}
