<div class="problem-container">
  <h2>Сообщить о проблеме</h2>
  <div class="button-panel">
    <button
      mat-flat-button
      type="button"
      class="row"
      (click)="onSelected(0)"
      [color]="selectedItem === 0 ? 'primary' : null"
    >
      {{ answers[0] }}
    </button>
    <button
      mat-flat-button
      type="button"
      class="row"
      (click)="onSelected(1)"
      [color]="selectedItem === 1 ? 'primary' : null"
    >
      {{ answers[1] }}
    </button>
    <button
      mat-flat-button
      type="button"
      class="row"
      (click)="onSelected(2)"
      [color]="selectedItem === 2 ? 'primary' : null"
    >
      {{ answers[2] }}
    </button>
    <button
      mat-flat-button
      type="button"
      class="row"
      (click)="onSelected(3)"
      [color]="selectedItem === 3 ? 'primary' : null"
    >
      {{ answers[3] }}
    </button>
    <textarea #comment matInput class="row" placeholder="Добавить комментарий"></textarea>

    <button
      mat-flat-button
      type="submit"
      class="row"
      [disabled]="!selectedItem"
      [color]="selectedItem != null ? 'primary' : null"
      (click)="onNext(comment.value)"
    >
      {{ selectedItem ? 'Готово' : 'Дальше' }}
    </button>
  </div>
</div>
