.page-wrapper {
  display: flex;
  height: 100%;
  background-color: #90ee02;
}

.buttons {
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  button {
    flex: 1;
    color: #424242;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 1em;
  }
}
